.hidden {
  display: none !important;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
label {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
/* common */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav-list,
.contact-info-list {
  display: none;
}
.main-nav .link-logo {
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}
.main-nav .text-studio-logo {
  color: #2e2f42;
}
.burger-btn {
  background-color: transparent;
}
.icon-burger {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .main-nav .link-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .main-nav .main-nav-list {
    list-style-type: none;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .main-nav .link {
    text-decoration: none;
    color: #2e2f42;
    padding: 24px 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-nav .link:hover,
  .main-nav .link:focus,
  .contact-info .contact-link:hover,
  .contact-info .contact-link:focus {
    color: #404bbf;
  }
  .link.studio {
    position: relative;
    color: #404bbf;
  }
  .link.studio::after {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .main-nav-list {
    display: flex;
    gap: 40px;
  }
  .contact-info {
    font-style: normal;
    list-style-type: none;
  }
  .contact-info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact-info .contact-link {
    font-size: 12px;
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.04em;
    line-height: 1.17;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header {
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-nav .link-logo {
    margin-right: 76px;
  }
  .contact-info-list {
    flex-direction: row;
    gap: 40px;
  }
  .contact-info .contact-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;
    line-height: 1.5;
  }
}

/* MOBILE MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1000;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu .modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-list {
  text-decoration: none;
  list-style-type: none;
  line-height: 111%;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.mobile-menu-item .link {
  text-decoration: none;
  color: #2e2f42;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-item:not(:last-child) {
  padding-bottom: 40px;
}
.mobile-menu-item .link:focus,
.mobile-menu-item .link:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-contacts {
  margin-top: auto;
  margin-bottom: 48px;
}
.mobile-contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu .contact-link {
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 120%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .contact-link:focus,
.mobile-menu .contact-link:hover {
  color: #4d5ae5;
}
.mobile-menu-socials {
  width: 208px;
  height: 40px;
}
.mobile-menu-socials .social-media-links {
  display: flex;
  gap: 40px;
  fill: #4d5ae5;
}
.mobile-menu .social-link {
  width: 100%;
  height: 100%;
  background-color: #404bbf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-item {
  width: 40px;
  height: 40px;
}
.mobile-menu .social-link:hover,
.mobile-menu .social-link:focus {
  background-color: #404bbf;
}
.icon-social {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

section {
  max-width: 1440px;
  margin: 0 auto;
} /* ВИЗУАЛЬНО МАКСИМАЛЬНАЯ ШИРИНА СЕКЦИИ ВЫГЛЯДИТ ЛУЧШЕ ! (320 ИЛИ 1440 НА ВСЕ ЭКРАНЫ ???) */
/* @media screen and (min-width: 768px) {
  section {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1158px) {
  section {
    max-width: 1440px;
    margin: 0 auto;
  }
} */

/* Перша секція start */

.section-one {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile-hero-back.jpg");
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
}

.section-one .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 216px;
}
.button-solutions {
  text-decoration: none;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-solutions:hover,
.button-solutions:focus {
  text-decoration: none;
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .section-one {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-back.jpg");
    padding: 112px 0;
  }
  .section-one .container {
    gap: 36px;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .section-one {
    padding: 188px 0;
  }
  .section-one .container {
    gap: 48px;
  }
}
@media (min-resolution: 192dpi) {
  .section-one {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile-hero-back@2x.jpg");
  }
}

/* Друга секція start */
.section-two {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section-two {
    padding: 120px 0;
  }
}
.features {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.icon-features {
  display: none;
}

.title-features {
  font-size: 36px;
  line-height: 111%;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  max-width: 100%;
}
.text-features {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .title-features {
    text-align: left;
  }
  .text-features {
    font-weight: 500;
  }
}
@media screen and (min-width: 1158px) {
  .icon-features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: #8e8f99 1px solid;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    max-width: 100%;
  }
  .features {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .title-features {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .text-features {
    font-size: 16px;
    font-weight: 400;
  }
}

/* Третя секція start*/

.section-three-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding-left: 28px;
  padding-right: 28px;
}
.title-team {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}
.our-team-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  max-width: 264px;
}
.team-member {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 100%;
}

.team-member img {
  width: 100%;
}
.team-member-text {
  padding: 32px 0;
}
.section-three-team .team-names {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-specialization {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-member-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link-item {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.section-three-team .icon-social {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-container {
    padding-left: 108px;
    padding-right: 108px;
  }
  .our-team-list {
    column-gap: 24px;
    row-gap: 64px;
    max-width: 768px;
  }
  .team-member {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-three-team {
    padding: 120px 0;
  }
  .team-container {
    padding-left: 28px;
    padding-right: 28px;
  }
  .our-team-list {
    /* flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px; */
    max-width: 1158px;
  }
  .team-member {
    width: calc((100% - 3 * 24px) / 4);
  }
}
/* Четверта секція start */

.section-four-portfolio {
  padding: 96px 0;
}
.our-portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
.our-portfolio-list .overlay {
  display: none;
}
.projects-item {
  max-width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.title-portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.projects-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.projects-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .our-portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }
  .projects-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-four-portfolio {
    padding: 120px 0;
  }
  .our-portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
  }
  .projects-item {
    width: calc((100% - 48px) / 3);
  }
  .our-portfolio-list .overlay {
    display: block;
  }
  .parrent-overlay {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition-property: transform;
    transform: translatey(100%);
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .projects-item:hover .overlay {
    transform: translatey(0);
  }
  .projects-item:hover p {
    transform: translatey(0);
  }
}
/* FOOTER */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.footer-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.footer .text-studio-logo {
  color: #f4f4fd;
}
.footer .footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}
.footer-socials {
  width: 208px;
  height: 80px;
}
.footer .social-media-title {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-socials .social-media-links {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-link-item {
  width: 40px;
  height: 40px;
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}
.icon-social {
  fill: #f4f4fd;
}
.footer-email-submit {
  max-width: 288px;
}
.footer-email-text {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-email-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center; /*ONLY FOR MOB*/
}
.footer-email-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3; /*ONLY FOR MOB and TABLET*/
}
.footer-email-input::placeholder {
  color: #ffffff;
}
.footer-email-label {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-email-form-btn {
  max-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-flight-send {
  fill: #ffffff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    column-gap: 24px;
    row-gap: 72px;
    padding: 0 108px;
    justify-content: left;
  } /*- єто только для таблет*/
  .footer-logo {
    max-width: 264px;
  }
  .footer-link {
    display: block;
    text-align: left;
  }
  .footer .social-media-title {
    text-align: left;
  }
  .footer-email-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-email-text {
    text-align: left;
  }
  .footer-email-submit {
    max-width: 453px;
  }
  .footer-email-input {
    width: 264px;
  }
  /* Modal window */

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal-content {
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn {
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }
  .modal-close-btn:hover svg,
  .modal-close-btn:focus svg {
    fill: #ffffff;
  }
  .icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .title-modal {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  }
  .pop-up-field {
    margin-bottom: 8px;
  }
  .pop-up-field-input {
    position: relative;
  }
  .pop-up-field-input-text {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .pop-up-field-input-text:focus,
  .pop-up-field-comment-text:focus {
    border-color: #4d5ae5;
  }

  .icon-person-info {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .pop-up-field-input-text:hover + .icon-person-info,
  .pop-up-field-input-text:active + .icon-person-info,
  .pop-up-field-input-text:focus + .icon-person-info,
  .pop-up-field-input-text:hover,
  .pop-up-field-input-text:active,
  .pop-up-field-input-text:focus {
    fill: #4d5ae5;
  }

  .pop-up-field-label {
    font-weight: 400;
    font-size: 12px;
    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
    display: block;
    margin-bottom: 4px;
  }
  .pop-up-field-comment {
    margin-bottom: 16px;
  }
  .pop-up-field-comment-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
  }

  /* CustomCheckbox в input start */

  .pop-up-checkbox {
    margin-bottom: 24px;
    position: relative;
  }

  .label-accept-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
  }
  .label-accept-privacy .checkmark {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
  }
  .checkbox:checked + .label-accept-privacy .checkmark {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .checkbox-svg {
    fill: none;
  }

  .privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }

  /* CustomCheckbox в input end */

  .modal-content .modal-submit-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  .footer-container {
    flex-wrap: nowrap;
    column-gap: 0;
    align-items: baseline;
    padding: 0 0;
    max-width: 1125px;
  }
  .footer-logo {
    margin-right: 120px;
    min-width: 264px;
  }
  .footer-link {
    display: block;
    text-align: left;
  }
  .footer .footer-text {
    max-width: 264px;
  }
  .footer-email-submit {
    margin-left: 80px;
  }
  .footer-email-form-btn {
    min-width: 165px;
  }
}
@media screen and (max-width: 767px) {
  .modal-overlay {
    display: none;
  }
}
